<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.store.address.dao.AddressDao">

	<!-- 目录搜索 -->
	<sql id="address_base_select">
		SELECT ROW_ID,USER_ID,IF_DEFAULT,USER_NAME,PROVINCE_CODE,PROVINCE_NAME,CITY_CODE,CITY_NAME,AREA_CODE,AREA_NAME,TRUE_ADDRESS,POST_CODE,USER_PHONE,ACTIVE_FLAG,CREATE_BY,CREATE_DATE,UPDATE_BY,UPDATE_DATE FROM SELECT_ADDRESS_USER WHERE ACTIVE_FLAG = 1
	</sql>

	<select id="findAll" resultType="Address">
		<include refid="address_base_select"/>
	</select>
	
	<select id="findByUserId" resultType="Address" parameterType="Address">
		<include refid="address_base_select"/> AND USER_ID = #{userId}
	</select>
	
	<select id="findDefault" resultType="Address" parameterType="Address">
		<include refid="address_base_select"/> AND USER_ID = #{userId} AND IF_DEFAULT=0
	</select>
	
	<insert id="save" parameterType="Address" useGeneratedKeys="true" keyColumn="ROW_ID" keyProperty="rowId">
		INSERT INTO TB_ADDRESS (USER_ID,IF_DEFAULT,PROVINCE_CODE,CITY_CODE,AREA_CODE,TRUE_ADDRESS,POST_CODE,USER_PHONE,ACTIVE_FLAG,CREATE_BY,CREATE_DATE)
		VALUES(#{userId},#{ifDefault},#{provinceCode},#{cityCode},#{areaCode},#{trueAddress},#{postCode},#{userPhone},#{activeFlag},#{createBy},#{createDate})
	</insert>
	
	<select id="findByPage" resultType="Address">
		<include refid="address_base_select"/>
		<include refid="search_sql"></include>
		 LIMIT #{firstResult},#{maxResults}
	</select>
	
	<select id="getCount" resultType="java.lang.Integer">
		SELECT COUNT(ROW_ID) FROM TB_ADDRESS WHERE ACTIVE_FLAG =1
		<include refid="search_sql"></include>
	</select>
	<sql id="search_sql">
		<if test="searchAddress!=null">
			<if test="searchAddress.userId!=null">
			AND USER_ID = #{searchAddress.userId}
			</if>
			<if test="searchAddress.provinceCode!=null">
			AND PROVINCE_CODE = #{searchAddress.provinceCode}
			</if>
		</if>
	</sql>
	<!-- 逻辑删除 -->
	<update id="delete" parameterType="Address" >
		UPDATE TB_ADDRESS SET ACTIVE_FLAG=0 WHERE ROW_ID = #{rowId}
	</update>
	
	<!-- 设为默认地址 -->
	<update id="doDefault" parameterType="Address" >
		UPDATE TB_ADDRESS SET IF_DEFAULT=0 WHERE ROW_ID = #{rowId}
	</update>
	<!-- 更改其他所有的地址 -->
	<update id="doDefaultOthers" parameterType="Address" >
		UPDATE TB_ADDRESS SET IF_DEFAULT=1 WHERE ROW_ID != #{rowId} AND USER_ID = #{userId}
	</update>
	
	<select id="get" resultType="Address">
		<include refid="address_base_select"/> AND ROW_ID = #{rowId}
	</select>

	<update id="update" parameterType="Address">
		UPDATE TB_ADDRESS
		<set>
			<if test="provinceCode!=null">
				PROVINCE_CODE = #{provinceCode},
			</if>
			<if test="cityCode!=null">
				CITY_CODE = #{cityCode},
			</if>
			<if test="areaCode!=null">
				AREA_CODE = #{areaCode},
			</if>
			<if test="trueAddress!=null">
				TRUE_ADDRESS = #{trueAddress},
			</if>
			<if test="postCode!=null">
				POST_CODE = #{postCode},
			</if>
			<if test="userPhone!=null">
				USER_PHONE = #{userPhone},
			</if>
			<if test="updateBy!=null">
				UPDATE_BY = #{updateBy},
			</if>
			<if test="updateDate!=null">
				UPDATE_DATE = #{updateDate},
			</if>
		</set>
		WHERE ROW_ID = #{rowId}
	</update>
	
</mapper>